@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
}

html {
  font-family: 'Roboto', sans-serif;
}

.actionButton {
  min-width: 44px !important;
}

.checkoutButton {
  text-align: center;
}

.quantityCount {
  margin: 0 !important;
}

.instructions, .itemsForSale {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 300;
}

.cartListConfirmation {
  text-align: center;
}
